// tag styles reset


html, body {
  height: 100%;
  width: 100%;
}

*, *:before, *:after{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    display: inline-block;
  }
}

a {
  &:active, &:focus {
    outline: none;
  }

  color: inherit;
  text-decoration: none;
  display: inline-block;

  img {
    border: none;
    outline: none;
  }
}



p {
  padding: 0;
  margin: 0;
}

input, input:focus, textarea, button, button:focus {
  outline: none;
  border: none;
  background:none;
}
label 
{
  user-select: none;
}
textarea {
  resize: none;
  overflow: auto;
  // resize: vertical;
  // resize: horizontal;
}


footer {
  position: relative;
  width: 100%;
}

svg {
  display: inline-block;
}

img,
svg {
  max-width: 100%;
  display: inline-block;
}
