footer.footer
  .footer__row
    .container
      .footer__col.footer__col-left
        include ../common/menu
      .footer__col.footer__col-right
        +socials('footer')
  .footer__row
    .container
      .footer__col.footer__col-left
        .footer__text
          p Я веб-разработчик из Москвы, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
      .footer__col.footer__col-right
        .footer__text
          p  &copy Прохоров Игорь | Создано с любовью LoftSchool | 2017  