header.header
  section.section.hero
      include paralax-scrol
      .hero__socials
        +socials('header')  

      .hamburger-link 
        span
   
        
      .hero__title
        .main-title
        
          img.section-title__pic(src="./img/header/header_title.png", alt="title-hero")
        include user
      
          
    
    
    
    
+nav('main', {'Мои работы': '/works.html', 'Блог': '/blog.html', 'Обо мне': '/about.html', 'Авторизация': '/index.html'}, 'Обо мне')



