.parallax-scroll
    .parallax-scroll__container
        each i in [9,8,7,6,5,3,2] 
        
            .parallax-scroll__layer
                img(src=`/img/paralax/paralax${i}.png`).parallax-scroll__image
    .parallax__content        
//- each i in [9,8,7,6,5,4,3,2,1] 
//- - for (var i = 1; i < 9; i++)
//- - for (var i = 8; i > 1; i--)            