ul.reviews__list
  li.review
    .review__content
      .review__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей
      .review__autor
        .review__avatar
          img.review__img(src="./img/pages/works/dima.jpg", alt="dima")
        .review__name Дмитрий Ковальчук
          .review__rank Основатель Loftschool
  li.review
    .review__content
      .review__text Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
      .review__autor
        .review__avatar
          img.review__img(src="./img/pages/works/vladimir.jpg", alt="vladimir")
        .review__name  Владимир Сабанцев
          .review__rank Преподаватель