.container.slider-box
        ul#slides
            li.slide.showing
                .slide__pic
                    img.slide__img(src="./img/slider/burgers.jpg", alt="burgers")
                .slide__desc
                    .slide__title Сайт "Бургерная"
                    .slide__text HTML, CSS, Javascript
                    a.slide__button(href="https://webprogrammer77.ru/burger/", target="_blank")
                        +svg('link__icon', 'link')
                        span Посмотреть сайт
            li.slide
                .slide__pic
                    img.slide__img(src="./img/slider/sport.jpg", alt="sport")
                .slide__desc
                    .slide__title Интернет-магазин "Спорт"
                    .slide__text Opencart
                    a.slide__button(href="https://webprogrammer77.ru/sport/", target="_blank")
                        +svg('link__icon', 'link')
                        span Посмотреть сайт
            li.slide
                .slide__pic
                    img.slide__img(src="./img/slider/dighistore.jpg", alt="books")
                .slide__desc
                    .slide__title Интернет-магазин "Книги"
                    .slide__text Pug, Scss, Javascript, Jquery, Gulp
                    a.slide__button(href="https://webprogrammer77.ru/dighistore/", target="_blank")
                        +svg('link__icon', 'link')
                        span Посмотреть сайт
            li.slide
                .slide__pic
                    img.slide__img(src="./img/slider/hoverball.jpg", alt="hoverball")
                .slide__desc
                    .slide__title Лендинг "Космо-полет"
                    .slide__text Pug, Scss, Javascript, Jquery, Gulp
                    a.slide__button(href="https://webprogrammer77.ru/hoverball/ ", target="_blank")
                        +svg('link__icon', 'link')
                        span Посмотреть сайт

            button.controls#prev
                +svg('controls__img', 'arrow')
            button.controls#next
                +svg('controls__img', 'arrow')
            ul.pagination
                li.pagination__item
                li.pagination__item
                li.pagination__item
                li.pagination__item
