article.window.welcome__enter
  .window__content
    include user            
    .enter__socials
      +socials('round')
  .window__buttons
    a.window__button(href="about.html") Обо мне
    a.window__button(href="works.html") Мои работы
    a.window__button(href="blog.html") Блог