.blur
  .blur-img
    img.blur-img__pic(src="./img/pages/works/reviews-bg.jpg")
  .window.window-feedback
    //- .blur-bg
    .window__content.feedback__content
      .blur-bg
      form.feedback(action="mail.php" method="post" name="feedback" id="feedback")
        .block-subtitle.subtitle__feedback Связаться со мной      
        input.window__input.feedback__input(type="text" name="name" required placeholder="Имя")
      
        input.window__input.feedback__input(type="email" name="mail" required placeholder="Email")
      
        textarea.window__textarea.feedback__textarea(name="message" placeholder="Ваше сообщение")
        .saccess Отправлено
        .error Ошибка
    .window__buttons
      button.window__button.feedback__button(type='submit' form="feedback") Отправить
      button.window__button.feedback__button(type='reset' form="feedback") Очистить
    
      