block variables
include _mixins

doctype html
html
    head
        meta(charset="utf-8")      
        title #{title}
        meta(content="Портфолио Прохоров Игорь" name="description")
        meta(content="Портфолио Прохоров Игорь Михайлович" name="keywords")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        //- favicon block start
        link(href='img/favicon/apple-touch-icon.png', rel='apple-touch-icon', sizes='180x180')
        link(type='image/png', href='img/favicon/favicon-32x32.png', rel='icon', sizes='32x32')
        link(type='image/png', href='img/favicon/favicon-16x16.png', rel='icon', sizes='16x16')
        link(href='img/favicon/manifest.json', rel='manifest')
        //- favicon block end
        //- include favicon
        link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
        link(rel='stylesheet' href='styles/app.min.css')
        //- script(src='../src/js/common/jquery-3.2.1.min.js' defer)
        //- script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        //- script(type="text/javascript", src="http://maps.google.com/maps/api/js?sensor=false")
        script(src='/js/bundle.js' defer)
        <!--[if lt IE 9]>
        script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
        <![endif]-->
        +ie9
    body
        .wrapper
            block content
            //- AIzaSyAd3aQOZ97h4kFUYqiND-ckRxf8J7CNlvw