.flipper {
    //perspective: 400px;
    // position: relative;
    // @include flex-center(column);
    margin: 16vh auto ;
    // position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    width: rem(380px);
    height: rem(450px);
    &.rotate {
        transform: rotateY(180deg);
    }


    .flipper__front, .flipper__back {
        position: absolute;
        top: 0;
        left: 50%;
        
        backface-visibility: hidden;
    }

    .flipper__front {
        transform: translateX(-50%);
    }

    .flipper__back {
        transform: rotateY(180deg) translateX(50%);
    }


    // del
    .flipper__front {
        // padding: 100px;
        // background: rgba(red, .3);
    }

    .flipper__back {
        // padding: 100px;
        // background: rgba(green, .3);
    }


}
// .flipper-rotate {
//     position: absolute;
//     // left: 20px;
//     right: 20px;

//     cursor: pointer;
// }
